<div class="container">
  <div>
    <div class="filters">
      <div>
        <input id="name" type="text" class="form-control" placeholder="Product Name" [formControl]="nameControl"/>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="filterByProducer('')">All</button>
        <button type="button" class="btn btn-primary" (click)="filterByProducer('Russia')">Russia</button>
        <button type="button" class="btn btn-primary" (click)="filterByProducer('USA')">USA</button>
        <button type="button" class="btn btn-primary" (click)="filterByProducer('China')">China</button>
      </div>
      <div>
        <input id="category" type="text" class="form-control" placeholder="Product Category" [formControl]="categoryControl"/>
      </div>
    </div>
    <div>
      <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
      >
      </ngx-datatable>
    </div>
  </div>
</div>
